<div class="row" style="">
  <div class="img col-md-12">
    <div class="text_content">
      <h1>About</h1>
      <p>My name is <b>Spenser</b>.<br><br>
        <img style="width: 100%;" src="http://i.imgur.com/QHV9Y1A.jpg">
        <br><br>I'm a web developer and amatuer photographer who lives in Northern California and loves 
        crafting things and capturing moments.</p>
       <h1>Gear</h1>
      <p>My interest in photography started with old, mechanical, manual focus 35mm SLRs, which I still love to this day. 
       Here's a list of the goods I use most regularly:</p>
      <h3>Bodies</h3>
      <p><ul><li>Minolta x370</li><li>Minolta SRT-201</li><li>Fujifilm XE-1</li></ul>
      <h3>Lenses</h3>
      <p><ul><li>Minolta 50mm 1.7</li><li>Minolta 28mm 2.5</li><li>Fujifilm 18-55mm 2.4-4</li></ul>
    </div>
  </div>
</div>