<div class="row" style="">
  <% @master_photolist.each do |photo| %>
  <div class="img col-lg-2 col-md-2 col-sm-3 col-xs-4">
    <a target="_blank" href="http://500px.com/photo/<%=photo.id %>">
      <img src="<%= photo.thumb %>" />
    </a>

  </div>
  <% end %>
</div>